{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue dans se blog </h1>


<p>Commodo anim aliqua incididunt id incididunt irure in exercitation esse ipsum magna. Pariatur amet incididunt do irure esse. Amet ea reprehenderit ullamco magna fugiat eiusmod in officia labore veniam cupidatat minim. Laborum id sint adipisicing sit adipisicing fugiat. Eiusmod magna velit labore id ex Lorem cillum ex est cupidatat esse non deserunt. Anim veniam do aliqua magna sit et anim ut velit. Eu cillum elit eu tempor ut in officia ex labore. </p>
m cillum ex est cupidatat esse non deserunt. Anim veniam do aliqua magna sit et anim ut velit. Eu cillum elit eu tempor ut in officia ex labore. </p>

{% endblock %}