{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<section class="articles">
<h2>Titre de l'article</h2>
<div class="meta-date" </div>
{% endblock %}
